header {
  width: 100%;
  background-color: white;
  box-shadow: 2px 2px 4px lightgray;
  text-align: center;
}

header img {
  margin-top: 15px;
  height: 50px;
  padding-left: 40px;
}

.logout {
  float: right;
  margin-top: 40px;
  margin-right: 20px;
  font-size: 14px;
}

.mypage_contents {
  clear: right;
  margin: 40px auto;
  border: 2px solid lightgray;
  width: 550px;
  height: 350px;
  background-color: white;
  border-radius: 10px;
  box-shadow: 4px 4px 4px lightgray;
}

h2 {
  text-align: center;
  border-bottom: 1px solid #31A263;
  font-size: 20px;
  width: 95%;
  margin: 15px auto;
}

.hello {
  margin-left: 15px;
}

.profile_picture {
  float: left;
  margin: 20px 20px 0 30px;
}

.profile_picture img {
  width: 100px;
  height: 100px;
}

.comments {
  border-top: 1px solid lightgray;
  width: 95%;
  clear: left;
  margin: 25px auto;
  padding-top: 10px;
}

.edit {
  text-align: center;
}

.edit_button {
  border: 1px solid lightgray;
  padding: 6px 60px 4px 60px;
  color: white;
  background-color: #31a263;
  border-radius: 5px;
  border-bottom: 2px solid gray;
  width: 200px;
  margin-bottom: 20px;
}

footer {
  width: 100%;
  height: 40px;
  background-color: white;
  color: gray;
  text-align: center;
  line-height: 40px;
  font-size: 13px;
  border-top: 2px solid lightgray;
  position: absolute;
  bottom: 0;
}